ENVIRONMENT_TYPE="dev"
API_SERVER_ORIGIN="https://generic-email-service.vercel.app"
ALLOWED_ORIGINS='[]'
ALLOW_ANY_ORIGIN="false"
ALLOW_MISSING_ORIGIN="true"
ALLOW_DEVMODE_DEFAULT_USER="false"
DEVMODE_DEFAULT_USER_ID="DevmodeDefaultUser"
FIREBASE_PROJECT_ID="generic-email-service"
FIREBASE_SERVICE_ACCOUNT_KEY=''
CUSTOM_FIRESTORE_INDEX_ADMIN_SERVICE_ACCOUNT_KEY=''
FIREBASE_STORAGE_EMULATOR_HOST="localhost:9003"   # Don't set this in production
FIRESTORE_EMULATOR_HOST="localhost:9004"          # Don't set this in production
